langchain
openai
pandas
gitpython
#chromadb
lark
#deeplake
tiktoken
fastapi
python-multipart
uvicorn
pyowm
#duckduckgo-search
#google-search-results
python-dotenv
#transformers
#huggingface_hub
# pinecone-client[grpc]
pinecone-client
# torch
termcolor
#tenacity
#sse-starlette
gunicorn
beautifulsoup4
llama_index
schedule