cohere==4.32
langchain==0.0.322
openai==0.28.1
pandas==2.1.1
gitpython
lark==1.1.8
cython
tiktoken==0.5.1
fastapi==0.104.0
python-multipart==0.0.6
uvicorn==0.23.2
pyowm==3.3.0
python-dotenv==1.0.0
#transformers
#huggingface_hub
# pinecone-client[grpc]
# torch
termcolor==2.3.0
#tenacity
#sse-starlette
gunicorn==21.2.0
llama-index==0.8.50
schedule==1.2.1
qdrant-client==1.9.0
apscheduler
nltk==3.8.1
cachetools==5.3.2
jsonpatch==1.33
pymongo==4.5.0
pytest==7.4.3
pytest-asyncio==0.21.1
boto3==1.28.64
aioboto3==7.0.0
motor==3.3.1
