langchain==0.3.7
langchain-openai==0.2.6
langchain-qdrant==0.2.0
openai==1.54.3
pandas==2.2.2
tiktoken==0.8.0
fastapi==0.115.4
python-multipart==0.0.7
uvicorn==0.32.0
termcolor==2.3.0
gunicorn==23.0.0
schedule==1.2.1
cachetools==5.5
jsonpatch==1.33
pymongo==4.9
pytest==7.4.3
pytest-asyncio==0.21.1
motor==3.6.0
websockets
